<div class="card">
    <div class="card-header">
        <h3> {{productId}}</h3>
    </div>
    <div class="card-body">
        <blockquote class="bockquote mb-0">
            <p>Tennis is a game played with two opposing players (singles) or pairs of players (doubles) using tautly strung rackets to hit a ball of specified size, weight, and bounce over a net on a rectangular court.</p>
            <p>Football is a game involving two teams of 11 players who try to maneuver the ball into the other team's goal without using their hands or arms. The team that scores more goals wins.</p>
            <p>Basketball is a team sport in which two teams, most commonly of five players each, opposing one another on a rectangular court, compete with the primary objective of shooting a basketball through the defender's hoop high  while preventing the opposing team from shooting through their own hoop.</p>
            <p>Rugby is a football game in which play is continuous without time-outs or substitutions, interference and forward passing are not permitted, and kicking, dribbling, lateral passing, and tackling are featured.</p>
            <footer class="blockquote-footer">Current User <cite title="Source Title">Bar</cite></footer>
        </blockquote>
    </div>
</div>