<p>register works!</p>
<div class="container">
    <h2>Register</h2>
    <form #registerform="ngForm" (ngSubmit)="register()">
     
      <small class="alert-danger">{{message}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="userr.email" required
        pattern="\w+@[a-zA-z_]+?\.[a-zA-Z]{2,3}$"
        #email="ngModel"
         [class.is-invalid]="email.invalid && email.touched">
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required field</small>-->
        <div *ngIf="email.errors && email.invalid && email.touched">
          <small *ngIf="email.errors.required">Email is required field</small>          
          <small *ngIf="email.errors.pattern">Enter the valid value of email</small>
        </div>
      </div>
      <div class="form-group">
        <label for="username">First name:</label>
        <input type="text" class="form-control" placeholder="Enter firstname" name="firstName" [(ngModel)]="userr.firstName" required #firstName="ngModel"
        [class.is-invalid]="firstName.invalid && firstName.touched">
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required field</small>-->
        <small class="text-danger" [class.d-none]="firstName.valid|| firstName.untouched">Firstname is required field</small>
      </div>
      <div class="form-group">
        <label for="username">Last name:</label>
        <input type="text" class="form-control" placeholder="Enter lastname" name="lastName" [(ngModel)]="userr.lastName" required #lastName="ngModel"
        [class.is-invalid]="lastName.invalid && lastName.touched">
        <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required field</small>-->
        <small class="text-danger" [class.d-none]="lastName.valid|| lastName.untouched">Lastname is required field</small>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" [(ngModel)]="userr.password" required #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
      </div>

      <div class="form-group">
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter confim password" name="cpassword" #cpassword="ngModel" (ngModel)="userr.password" required 
        [class.is-invalid]="cpassword.invalid && cpassword.touched">
        <small class="text-danger" [class.d-none]="(cpassword.value ==password.value) || cpassword.untouched">Confirm password and Password is required field</small>
      </div>
      <button [disabled]="registerform.form.invalid" type="submit" class="btn btn-info">Register</button>
    </form>
    <small class="float-right" [routerLink]="['/login']">>Login</small>
  </div> 