<div class="row d-flex justify-content-center text-center">
<div class="col-2" style="background-image: url('/assets/img/tennis.jpg'); background-size: cover; height: 100%; background-repeat: no-repeat;">
    <h5 class="card-header text-black">Tennis</h5>
    
    <div class="card-body">
        <h5 class="card-title">Grass court</h5>
        <a [routerLink]="[ '/product-details' , 'Tennis']" class="btn btn-dark float-right">Details</a>
    </div>
</div>

<div class="col-2" style="background-image: url('/assets/img/football.jpg'); background-size: cover; height: 100%; background-repeat: no-repeat;">
    <h5 class="card-header text-black">Football</h5>
    <div class="card-body">
        <h5 class="card-title">Outdoor soccer field</h5>
        <a [routerLink]="[ '/product-details' , 'Football']" class="btn btn-dark float-right">Details</a>
    </div>
</div>
</div>
<div class="row d-flex justify-content-center text-center">
    <div class="col-2" style="background-image: url('/assets/img/basketball.jpg'); background-size: cover; height: 100%; background-repeat: no-repeat;">
    <h5 class="card-header text-black">Basketball</h5>
    <div class="card-body">
        <h5 class="card-title">Hardwood</h5>
        <a [routerLink]="[ '/product-details' , 'Basketball']" class="btn btn-dark float-right">Details</a>
    </div>
</div>
<br><br>
<div class="col-2" style="background-image: url('/assets/img/rugby.jpg'); background-size: cover; height: 100%; background-repeat: no-repeat;">
    <h5 class="card-header text-black">Rugby</h5>
    <div class="card-body">
        <h5 class="card-title">Normal</h5>
        <a [routerLink]="[ '/product-details' , 'Rugby']" class="btn btn-dark float-right">Details</a>
    </div>
</div>
</div>